<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>I AM DOING</title>
</head>

<body>
    <form>
        <input type="radio" name="tab" id="menu" />
        <div class="container">
            <input type="radio" name="tab" checked="checked" id="home" />
            <section class="home">
                <h1>Home</h1>
                <label for="home"></label>
                <div class="contents">
                    <div class="js-quote quote">
                        <span class="quote__header">널 위한 띵언</span>
                        <span class="quote__text"></span>
                        <span class="quote__author"></span>
                    </div>
                    <span class="js-clock clock">
                        00:00
                    </span>
                </div>
            </section>
            <input type="radio" name="tab" id="ToDo" />
            <section class="ToDo">
                <h1>board</h1>
                
                <label for="ToDo"></label>
                <div class="contents">
                    <div class="js-toDo toDo">
                        <div class="toDo__head">
                            <span class="toDo__date"></span>
                            <span>
                                <ion-icon class="clear-btn" name="backspace"></ion-icon>
                            </span>
                            
                        </div>
                        
                        <div class="toDo__body">
                            {% if isLogin %}
                            {{userid}} 님 환영합니다. <a href="/user/logout">로그아웃</a>
                            <a href="user/info">회원정보</a>
                            {% else %}
                            <a href="/user/join">회원가입</a>
                            <a href="/user/login">로그인</a>
                            {% endif %}
                            
                            
                            <ul class="toDo__list">

                            </ul>
                        </div>
                        <div class="toDo__add">
                            <ion-icon class="toDo__add-icon" name="add-circle"></ion-icon>
                            
                            <form class="toDo__form">
                                <input type="text" style="display: none;">
                                <input class="toDo__input" type="text" placeholder="Add To Do">
                            </form>
                        </div>
                    </div>
                    <span class="js-clock clock">
                        00:00
                    </span>
                </div>
            </section>
            <input type="radio" name="tab" id="weather" />
            <section class="weather">
                <h1>Weather</h1>
                <label for="weather"></label>
                <div class="contents">
                    <div class="js-weather weather-container">
                        <div class="weather__box1">
                            <img class="weather__icon">
                            <div class="weather__description"></div>
                        </div>
                        <div class="weather__box2">
                            <div class="weather__temperature"></div>
                            <div class="weather__location"></div>
                        </div>
                        <div class="weather__box3">
                            <div class="weather__humidity"></div>
                            <div class="weather__humidityText">humidity</div>
                        </div>
                    </div>
                    <span class="js-clock clock">
                        00:00
                    </span>
                </div>
            </section>
            <input type="radio" name="tab" id="contact" />
            <section class="contact">
                <h1>GAME</h1>
                <label for="contact"></label>
                <div class="contents">
                    준비중입니다.
                </div>
            </section>
        </div>
        <div class="menu">
            <div>
                <label for="menu"></label>
                <label for="home"></label>
            </div>
        </div>
    </form>
    <script src="js\clock.js"></script>
    <script src="js\quote.js"></script>
    <script src="js\weather.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="js\todo.js"></script>
</body>

</html>